html {
  height: 100%;
}
body.doflex {
  display: flex;
  flex-direction: column;
  height: 99%;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: #F6F6F6;
}
body[theme="dark"] {
  background-color: #333333;
  color: white;
}
body[theme="dark"] a {
  color: #3366FF;
}
body[theme="dark"] a:visited {
  color: #9966FF;
}
body[theme="dark"] button {
  color: #FFFFFF;
  background-color: #666666;
  border-radius: 3px;
}


#filecontainer {
  vertical-align: top;
  display: flex;
  min-width: 8em;
  flex: 0 1 10%;
  flex-direction: column;
}

#filelist {
  vertical-align: top;
}

#filelist .filename {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  overflow: hidden;
  cursor: default;
}

body[theme="dark"] #filelist .filename {
  border: 1px solid #999999;
}

#filelist .filename.readonly { background-color: #CCCCCC; }
body[theme="dark"] #filelist .filename.readonly { background-color: #666666; }

#filelist .filename.readonly.open { background-color: #BBDDBB; }
body[theme="dark"] #filelist .filename.readonly.open { background-color: #668866; }

#filelist .filename.open { background-color: #CCFFCC; }
body[theme="dark"] #filelist .filename.open { background-color: #114411; }

#filelist .filename.histdeleted {
  background-color: #FFDDDD;
  color: #666666;
}

body[theme="dark"] #filelist .filename.histdeleted {
  background-color: #551111;
  color: white;
}

#filelist .filename.histdeleted.open {
  background-color: #FFFFDD;
  color: #333333;
}

body[theme="dark"] #filelist .filename.histdeleted.open {
  background-color: #553311;
  color: white;
}

#filelist .filename.histundeleted {
  background-color: #FFDDDD;
  color: #666666;
}

body[theme="dark"] #filelist .filename.histundeleted {
  background-color: #551111;
  color: white;
}

#filelist .filename.histundeleted.open {
  background-color: #EEFFDD;
  color: #333333;
}


body[theme="dark"] #filelist .filename.histundeleted.open {
  background-color: #553311;
  color: white;
}


#filebottom {
  position: relative;
}

#addfile {
  border: 1px solid black;
  margin: 2px;
  width: 20px;
  text-align: center;
  cursor: default;
  display: inline-block;
}

body[theme="dark"] #addfile {
  border: 1px solid #999999;
}

#uploadfile {
  border: 1px solid black;
  margin: 2px;
  width: 20px;
  text-align: center;
  cursor: default;
  display: inline-block;
  overflow: clip;
}

#uploadfileinput {
  display: none;
}

body[theme="dark"] #uploadfile {
  border: 1px solid #999999;
}

#removefile {
  border: 1px solid black;
  margin: 2px;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: default;
}

body[theme="dark"] #removefile {
  border: 1px solid #999999;
}

#savefiles {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  text-align:center;
  background-color: #EEFFEE;
  color: #004400;
  cursor: default;
}

body[theme="dark"] #savefiles {
  border: 1px solid #999999;
  background-color: #335533;
  color: #99CC99;
}

#savefiles.dirty {
  background-color: #FFFFEE;
  color: #444400;
}
body[theme="dark"] #savefiles.dirty {
  background-color: #667733;
  color: #99CC99;
}

#loadfiles {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  text-align:center;
  background-color: #EEFFEE;
  color: #004400;
  cursor: default;
}
#loadfiles.stale {
  background-color: #FFCCCC;
  color: #442200;
}
body[theme="dark"] #loadfiles {
  border: 1px solid #999999;
  background-color: #335533;
  color: #99CC99;
}
body[theme="dark"] #loadfiles.stale {
  background-color: #552222;
  color: #DD8888;
}

#historybuttons {
  position: relative;
}

#historyback {
  border: 1px solid black;
  margin: 2px;
  width: 20px;
  text-align: center;
  cursor: default;
}

body[theme="dark"] #historyback {
  border: 1px solid #999999;
}

#historystate {
  position: absolute;
  width: 100%;
  top: 0px;
  padding-top: 2px;
  text-align: center;
  z-index: -1;
}


#historyforward {
  border: 1px solid black;
  margin: 2px;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: default;
}

body[theme="dark"] #historyforward {
  border: 1px solid #999999;
}

#historydate {
  text-align: center;
  font-style: italic;
  color: #333333;
}
body[theme="dark"] #historydate {
  color: #AAAAAA;
}

#historydate.hidden {
  display: none;
}


#resetfiles {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  text-align:center;
  background-color: #FFEEEE;
  color: #440000;
}

#submittedbool {
  text-align: center;
  font-style: italic;
  color: #333333;
}

#submittedtime {
  text-align: center;
  font-style: italic;
  color: #333333;
}

#submittedbool.hidden {
  display: none;
}

#submittedtime.hidden {
  display: none;
}

#siblings {
  overflow: hidden;
}

#navbarpadding {
  display: flex;
  flex: 1 1;
}

#helplink {
  flex: 0 0;
  border: 1px solid #333333;
  padding: 2px;
  margin: 2px;
  text-align: center;
  cursor: default;
}
#filecontainer a {
  text-decoration: none;
  color: black;
}
body[theme="dark"] #helplink {
  border: 1px solid #777777;
  color: #777777;
}
body[theme="dark"] #helplink a { color: #999999; }

#errorbutton {
  flex: 0 0;
  border: 1px solid #333333;
  padding: 2px;
  margin: 2px;
  text-align: center;
  cursor: default;
  color: #663333;
  background-color: #FFCCCC;
}
body[theme="dark"] #errorbutton {
  border: 1px solid #777777;
  color: #FFCCCC;
  background-color: #993333;
}
#errorbutton.hidden {
  display: none;
}

#errorbox {
  position: absolute;
  bottom: 80px;
  z-index: 99;
  background-color: #FFCCCC;
  padding: 8px;
  border: 1px solid #FF9999;
}
#errorbox.hidden { display: none; }
body[theme="dark"] #errorbox {
  background-color: #885555;
  border-color: #333333;
  border: 1px solid #FF4444;
}

#comments {
  flex: 0 0;
  border: 1px solid #333333;
  padding: 2px;
  margin: 2px;
  text-align: center;
  cursor: default;
}
body[theme="dark"] #comments {
  border: 1px solid #777777;
  color: #777777;
}

#commentbox {
  position: absolute;
  bottom: 40px;
  z-index: 99;
  background-color: #CCCCCC;
  padding: 2px;
  border: 1px solid black;
}
#commentbox.hidden { display: none; }
body[theme="dark"] #commentbox {
  background-color: #555555;
  border-color: #333333;
}
body[theme="dark"] #commentbody {
  background: #333333;
  color: white;
}

#maincontent {
  display: flex;
  flex: 1 1;
  gap: 6px;
}

#leftcontent {
  display: flex;
  flex: 10 10 45%;
  flex-direction: column;
}

#maincontent[layout="fullscreencode"] #rightcontent {
  display: none;
}

#maincontent[layout="fullscreenconsole"] #leftcontent {
  display: none;
}

#leftcontent > * {
  display: block;
}

#code {
  display: flex;
  flex: 1 1;
}

#instructionscontainer {
  display: flex;
  flex: 1 1;

  margin-top: 4px;
  padding: 4px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  overflow: scroll;
}
#instructions {
  height: 0;
}
#instructionscontainer.hidden { display: none; }
#code.hidden { display: none; }
body[theme="dark"] #instructionscontainer {
  background-color: black;
}

#rightcontent {
  display: flex;
  vertical-align: top;
  flex: 10 10 45%;
  flex-direction: column;
  overflow: auto;
}

#code {
  position: relative;
  /*width: 40vw;*/
  /*height: 90vh;*/
  margin-top: 4px;
  padding: 4px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

#rightheader {
  margin-bottom: 4px;
}
#clearterminal {
  margin-left: 20px;
}
#clearterminal.hidden {
  display: none;
}

#toggleinstructions {
  position: absolute;
  right: 10px;
}

#runstatus {
  margin-left: 12px;
  font-style: italic;
  color: gray;
}
#runstatus.hidden {
  display: none
}

#markdowncontainer {
  display: flex;
  flex: 1 1;
  max-height: 90vh;
  overflow: scroll;

  border-color: gray;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
}

#markdowncontainer.hidden { display: none; }
#terminalcontainer.hidden { display: none; }

#markdownoutput {
  height: 0; /* it'll overflow fine into the markdowncontainer */
}
body[theme="dark"] #markdowncontainer {
  background-color: black;
}


#terminalcontainer {
  display: flex;
  flex: 1 1;
}
#terminal {
  display: relative;
  width: 100%;
  /*height: 80vh;*/
  padding: 4px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  margin-top: 4px;
}

#loggedinas {
  position: absolute;
  right: 10px;
  top: 10px;
}

span.tag {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 12px;
  font-size: smaller;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  background-color: #EEEEFF;
  color: #336699
}

#projectlist button.delete-project {
  margin-left: 10px;
}

#projectlist button.expand {
  padding: 0 1px 0 1px;
}

#projectlist .projectsublist.hidden {
  display: none;
}

#userlist button.delete-user {
  margin-left: 10px;
}

#rolelist button.delete-user-role {
  margin-left: 10px;
}

#inactive-userlist button.activate-user {
  margin-left: 10px;
}

#topbar {
  display:flex;
  flex: 0 0;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: row;
  gap: 8px;
}

#logo {
  display: inline-block;
  font-size: larger;
  font-style: italic;
  padding-right: 8px;
  font-color: #330000;
}

#classroomname {
  display: inline-block;
  font-size: larger;
}

#projectname {
  display: inline-block;
  font-size: larger;
}

#cloneproject {
  display: inline-block;
  margin-left: 4px;
}

#cloneassignment {
  display: inline-block;
  margin-left: 4px;
}

#compare50.hidden {
  display: none;
}

#viewsubmissions.hidden {
  display: none;
}

#assignment-results {
  border: 1px solid;
}

#assignment-results tr:nth-child(odd) {
  background-color: #DDDDDD;
}
