<!doctype html>
<html>
  <head>
    <title>lightweight IDE for CLassrooms</title>
    <link rel="stylesheet" href="/static/main.css"></script>
    <link rel="stylesheet" href="/static/xterm/xterm.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ace.min.js"></script>
    <script src="/static/xterm/xterm.js"></script>
    <script src="/static/xterm/addon-fit.js"></script>
    <script src="/static/main.js"></script>
    <script type="text/javascript">var classroom_id = {{ classroom_id }};</script>
  </head>
  <body>
    <div id="topbar">
      <div id="logo"><a href="/">idecl</a></div>
      <div id="classroomname"><a href="/classrooms/{{ classroom_id }}/projects">{{ classroom_name }}</a></div> &gt;
      <div id="projectname">{{ project_name }}</div>
      <button id="switchlayout">switch layout</button>
      {% if canclone %}
      <button id="cloneproject">clone</button>
      <button id="cloneassignment">clone as assignment</button>
      {% endif %}
      {% if canpublish and canunpublish %}
      <button id="publish" {{"published" if published else ""}}>{{ "unpublish project" if published else "publish project" }}</button>
      {% endif %}
      {% if cansubmit %}
      <button id="submit" {{"submitted" if submitted else ""}}>{{ "unsubmit project" if submitted else "submit project" }}</button>
      {% endif %}
      <div id="loggedinas">{{ current_user.email }}
        {% if current_user.id != current_user.euid %}
        viewing as {{ current_user.eemail }}
        <button id="view-as-self">X</button>
        {% endif %}
      </div>
    </div>
    <div id="maincontent" layout="split">
      <div id="filecontainer">
        <div id="filelist">
        </div>
        <div id="filebottom">
          <div id="addfile">+</div>
          <div id="removefile">-</div>
        </div>
        <div id="savefiles">save</div>
        <div id="loadfiles">load</div>
        <div id="historybuttons">
          <div id="historyback">&lt;</div>
          <div id="historystate">0/0</div>
          <div id="historyforward">&gt;</div>
        </div>
        <div id="resetfiles">reset</div>
      </div>
      <div id="leftcontent">
        <div>
          <button type="button" id="run">run</button>
          <button type="button" id="runtests">run tests</button>
        </div>
        <div id="code">Code here</div>
      </div>
      <div id="rightcontent">
        <div>Program output:<button id="clearterminal">clear</button></div>
        <div id="terminal"></div>
      </div>
    </div>
  </body>
</html>
