<!doctype html>
<html>
  <head>
    <title>lightweight IDE for CLassrooms</title>
    <link rel="stylesheet" href="/static/main.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ace.min.js"></script>
    <script src="/static/main.js"></script>
  </head>
  <body>
    <div id="projectname">{{ project_name }}</div>
    <div id="maincontent">
      <div id="filecontainer">
        <div id="filelist">
        </div>
        <div id="filebottom">
          <div id="addfile">+</div>
          <div id="removefile">-</div>
        </div>
        <div id="savefiles">save</div>
        <div id="loadfiles">load</div>
        <div id="historybuttons">
          <div id="historyback">&lt;</div>
          <div id="historyforward">&gt;</div>
        </div>
        <div id="resetfiles">reset</div>
      </div>
      <div id="leftcontent">
        <div>
          <button type="button" id="run">run</button>
          <button type="button" id="runtests">run tests</button>
        </div>
        <div id="code">Code here</div>
      </div>
      <div id="rightcontent">
        <input type="text" id="stdin"></input>
        <button type="button" id="sendinput" disabled="true">Send on stdin</button><br>
        <pre id="output"></pre>
      </div>
    </div>
  </body>
</html>
