<html>
  <link rel="stylesheet" href="/static/main.css"></script>
  <script>
    var deleteProject = function() {
      var deleteButton = this;
      var id = this.getAttribute("project-id");
      var name = this.getAttribute("project-name");
      if (confirm("Really delete project " + name) &&
        !confirm("Click cancel to really delete " + name)) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/projects/" + id, true);
        xhr.onload = function() {
          var row = deleteButton.parentNode;
          row.parentNode.removeChild(row);
          var files = JSON.parse(localStorage.getItem("files|" + id));
          for (var f in files) {
            localStorage.removeItem("files|" + id + "|" + f);
            localStorage.removeItem("attrs|" + id + "|" + f);
          }
          localStorage.removeItem("files|" + id);
          localStorage.removeItem("edits|" + id);
          localStorage.removeItem("lastfile|" + id);
          localStorage.removeItem("parent|" + id);
        };
        xhr.send();
      }
    }
    window.onload = function() {
      var selfview = document.getElementById("view-as-self");
      if (selfview)
        selfview.addEventListener("click", function() {
          document.cookie = "sudo=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT";
          window.location.replace("/");
      });
      var deletes = document.getElementsByClassName("delete-project");
      for (var i = 0; i < deletes.length; i++) {
        deletes[i].addEventListener("click", deleteProject);
      }
      {% if canaddproject %}
      document.getElementById("addproject").addEventListener("click", function() {
        var name = prompt("What is the new project called?");
        if (!name)
          return;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", document.location, true);
        xhr.onload = function() {
          var pid = xhr.response;
          var a = document.createElement("a");
          a.href = "/projects/" + pid;
          a.innerText = name;
          var b = document.createElement("button");
          b.classList.add("delete-project");
          b.setAttribute("project-id", pid);
          b.setAttribute("project-name", name);
          b.addEventListener("click", deleteProject);
          b.innerText = "-";
          var li = document.createElement("li");
          li.appendChild(a);
          {% if candeleteproject %}
          li.appendChild(b);
          {% endif %}
          var ul = document.getElementById("projectlist");
          ul.appendChild(li);
        };
        var formdata = new FormData();
        formdata.append("name", name);
        xhr.send(formdata);

      })
      {% endif %}
      cloneelemes = document.getElementsByClassName("cloneassignment")
      for (var i = 0; i < cloneelemes.length; i++) {
        var elem = cloneelemes[i];
        elem.addEventListener("click", function() {
          var id = this.getAttribute("project-id");
          var xhr = new XMLHttpRequest();
          var cloneelem = this;
          xhr.open("POST", "/projects/" + id + "/assignment", true);
          xhr.onload = function() {
            cloneelem.parentNode.removeChild(cloneelem);
            location.reload();
          };
          xhr.send();
        });
      }
    }
  </script>
  <div id="logo" style="display:inline-block; font-size:larger; font-style: italic; font-color: #330000;"><a href="/">idecl</a></div>
  <div id="classroomname">{{ classroom.name }}</div>
  {% if canmanageusers %}
  <a href="/users">Manage users</a>
  {% endif %}
  <div id="loggedinas">{{ current_user.email }}
    {% if current_user.id != current_user.euid %}
    viewing as {{ current_user.eemail }}
    <button id="view-as-self">X</button>
    {% endif %}
  </div>
  <h4 style="margin-bottom: 0px;">Projects:</h4>
  <ul id="projectlist" style="margin-top: 4px;">
    {% for project in projects %}
    {% if project.canview or project.cancloneassignment == "1" or candeleteproject %}
      <li>
        {% if project.canview %}
          <a href="/projects/{{ project.id }}">{{ project.name }}</a>
        {% else %}
          {{ project.name }}
        {% endif %}

        {% if project.tags %}
          {% for tag in project.tags.split(",") %}
            <span class="tag">
              {{ tag }}
            </span>
          {% endfor %}
        {% endif %}

        {% if project.cancloneassignment == "1" %}
          <button class="cloneassignment" project-id="{{ project.id }}">Clone project as asssignment</div>
        {% endif %}
        {% if candeleteproject %}
        <button class="delete-project" project-id="{{ project.id }}" project-name="{{ project.name }}">-</div>
        {% endif %}
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% if canaddproject %}
  <button id="addproject">New project</button>
  {% endif %}
</html>

