<html>
  <link rel="stylesheet" href="/static/main.css"></script>
  <script>
    var activateUser = function() {
      var undeleteButton = this;
      var id = this.getAttribute("user-id");
      var name = this.getAttribute("user-name");
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", "/users/" + id, true);
      xhr.onload = function() {
        var row = undeleteButton.parentNode;
        var b = document.createElement("button");
        b.classList.add("delete-user");
        b.setAttribute("user-id", undeleteButton.getAttribute("user-id"));
        b.setAttribute("user-email", undeleteButton.getAttribute("user-email"));
        b.setAttribute("user-name", undeleteButton.getAttribute("user-name"));
        b.addEventListener("click", deactivateUser);
        b.innerText = "-";
        row.parentNode.removeChild(row);
        row.removeChild(undeleteButton);
        row.appendChild(b);
        document.getElementById("userlist").appendChild(row);
      };
      xhr.send();
    }
    var deactivateUser = function() {
      var deleteButton = this;
      var id = this.getAttribute("user-id");
      var name = this.getAttribute("user-name");
      var xhr = new XMLHttpRequest();
      xhr.open("DELETE", "/users/" + id, true);
      xhr.onload = function() {
        var row = deleteButton.parentNode;
        var b = document.createElement("button");
        b.classList.add("activate-user");
        b.setAttribute("user-id", deleteButton.getAttribute("user-id"));
        b.setAttribute("user-email", deleteButton.getAttribute("user-email"));
        b.setAttribute("user-name", deleteButton.getAttribute("user-name"));
        b.addEventListener("click", activateUser);
        b.innerText = "+";
        row.parentNode.removeChild(row);
        row.removeChild(deleteButton);
        row.appendChild(b);
        document.getElementById("inactive-userlist").appendChild(row);
      };
      xhr.send();
    }
    window.onload = function() {
      var deletes = document.getElementsByClassName("delete-user");
      for (var i = 0; i < deletes.length; i++) {
        deletes[i].addEventListener("click", deactivateUser);
      }
      var undeletes = document.getElementsByClassName("activate-user");
      for (var i = 0; i < undeletes.length; i++) {
        undeletes[i].addEventListener("click", activateUser);
      }
      document.getElementById("adduser").addEventListener("click", function() {
        var email = document.getElementById("addemail").value;
        var name = document.getElementById("addname").value;
        var role = document.getElementById("addrole").value;
        var classroom = document.getElementById("addroleclassroom").value;
        if (!email || !name) {
          alert("Email and name must be provided.");
          return;
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", document.location, true);
        xhr.onload = function() {
          var uid = xhr.response;
          var a = document.createElement("a");
          a.href = "/users/" + uid;
          a.innerText = email + " (" + name + ")";
          var b = document.createElement("button");
          b.classList.add("delete-user");
          b.setAttribute("user-id", uid);
          b.setAttribute("user-email", email);
          b.setAttribute("user-name", name);
          b.addEventListener("click", deactivateUser);
          b.innerText = "-";
          var li = document.createElement("li");
          li.appendChild(a);
          li.appendChild(b);
          var ul = document.getElementById("userlist");
          ul.appendChild(li);
        };
        var formdata = new FormData();
        formdata.append("email", email);
        formdata.append("name", name);
        formdata.append("role", role);
        formdata.append("classroom", classroom);
        xhr.send(formdata);
        document.getElementById("addemail").value = "";
        document.getElementById("addname").value = "";

      })
    }
  </script>
  <div id="logo" style="display:inline-block; font-size:larger; font-style: italic; font-color: #330000;"><a href="/">idecl</a></div>
  <a href="/classrooms">Back to classrooms</a>
  <h4 style="margin-bottom: 0px;">Users:</h4>
  <ul id="userlist" style="margin-top: 4px;">
    {% for user in users %}
    <li><a href="/users/{{ user.id }}">{{ user.email + (" (" + user.name + ")" if user.name else "") }}</a><button class="delete-user" user-id="{{ user.id }}" user-name="{{ user.name }}" user-email="{{ user.email }}">-</button></li>
    {% endfor %}
  </ul>
  <h4 style="margin-bottom: 0px;">Deactivated users:</h4>
  <ul id="inactive-userlist" style="margin-top: 4px;">
    {% for user in inactive_users %}
      <li><a href="/users/{{ user.id }}">{{ user.email + (" (" + user.name + ")" if user.name else "") }}</a><button class="activate-user" user-id="{{ user.id }}" user-name="{{ user.name }}" user-email="{{ user.email }}">+</button></li>
    {% endfor %}
  </ul>
  <h4  style="margin-bottom: 4px">Add user:</h4>
  <label>Email: <input id="addemail"></input></label><br>
  <label>Name: <input id="addname"></input></label><br>
  <label>Role: <select id="addrole"><option value="student">Student</option><option value="teacher">Teacher</option></select></label> on <select id="addroleclassroom"><option value="">all classrooms</option>
    {% for classroom in classrooms %}
    <option value="{{ classroom.id }}">{{ classroom.name }}</option>
    {% endfor %}
  </select><br>
  <button id="adduser">Add user</button><br>
</html>

