<html>
  <link rel="stylesheet" href="/static/main.css"></script>
  <script>
    var deactivateUser = function() {
      var deleteButton = this;
      var id = this.getAttribute("user-id");
      var name = this.getAttribute("user-name");
      var xhr = new XMLHttpRequest();
      xhr.open("DELETE", "/users/" + id, true);
      xhr.onload = function() {
        var row = deleteButton.parentNode;
        var b = document.createElement("button");
        b.classList.add("activate-user");
        b.setAttribute("user-id", deleteButton.getAttribute("user-id"));
        b.setAttribute("user-email", deleteButton.getAttribute("user-email"));
        b.setAttribute("user-name", deleteButton.getAttribute("user-name"));
        b.addEventListener("click", activateUser);
        b.innerText = "+";
        row.parentNode.removeChild(row);
        row.removeChild(deleteButton);
        row.appendChild(b);
        document.getElementById("inactive-userlist").appendChild(row);
      };
      xhr.send();
    }
    window.onload = function() {
      var deletes = document.getElementsByClassName("delete-user");
      for (var i = 0; i < deletes.length; i++) {
        deletes[i].addEventListener("click", deactivateUser);
      }
      var undeletes = document.getElementsByClassName("activate-user");
      for (var i = 0; i < undeletes.length; i++) {
        undeletes[i].addEventListener("click", activateUser);
      }
      document.getElementById("addrole").addEventListener("click", function() {
        var role = document.getElementById("newrole").value;
        var classroomelem = document.getElementById("newclassroom");
        var classroomname = classroomelem.selectedOptions[0].text;
        var classroom = classroomelem.value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", document.location + "/roles", true);
        xhr.onload = function() {
          var rid = xhr.response;
          var t = document.createTextNode(role + " on " + (classroomname || "all classrooms"));
          /*var b = document.createElement("button");
          b.classList.add("delete-role");
          b.setAttribute("user-id", uid);
          b.setAttribute("user-email", email);
          b.setAttribute("user-name", name);
          b.addEventListener("click", deactivateUser);
          b.innerText = "-";
          */
          var li = document.createElement("li");
          li.appendChild(t);
          //li.appendChild(b);
          var ul = document.getElementById("rolelist");
          ul.appendChild(li);
        };
        var formdata = new FormData();
        formdata.append("role", role);
        formdata.append("classroom", classroom);
        xhr.send(formdata);
      })
    }
  </script>
  <div id="logo" style="display:inline-block; font-size:larger; font-style: italic; font-color: #330000;"><a href="/">idecl</a></div>
  <a href="/users">Back to users</a>

  <h3>{{ user.email }} ({{ user.name }})</h4>
  {% if user.deactivated == "1" %}
  <i style="font-size: larger">DEACTIVATED</i><br>
  {% endif %}
  <h4>Roles</h4>
  {% if roles == [] %}
  <i>None</i>
  {% endif %}
  <ul id="rolelist">
  {% for r in roles %}
  <li>{{ r.role }} on {{ r.classroom or "all classrooms" }}</li>
  {% endfor %}
  </ul>
  <h4  style="margin-bottom: 4px">Add role:</h4>
  <select id="newrole"><option value="student">Student</option><option value="teacher">Teacher</option></select> on <select id="newclassroom"><option value="">all classrooms</option>
    {% for classroom in classrooms %}
    <option value="{{ classroom.id }}">{{ classroom.name }}</option>
    {% endfor %}
  </select><br>
  <button id="addrole" style="margin-top: 4px">Add role</button><br>
</html>

