<!doctype html>
<html>
  <link rel="stylesheet" href="/static/main.css"></script>
  <script>
    var deleteUserRole = function() {
      var deleteButton = this;
      var id = this.getAttribute("user-role-id");
      var xhr = new XMLHttpRequest();
      xhr.open("DELETE", document.location + "/roles/" + + id, true);
      xhr.onload = function() {
        var row = deleteButton.parentNode;
        row.parentNode.removeChild(row);
      };
      xhr.send();
    }
    window.onload = function() {
      var selfview = document.getElementById("view-as-self");
      if (selfview)
        selfview.addEventListener("click", function() {
          document.cookie = "sudo=; path=/; expoires=Thu, 01 Jan 1970 00:00:01 GMT";
          window.location.replace("/");
        });
      var deletes = document.getElementsByClassName("delete-user-role");
      for (var i = 0; i < deletes.length; i++) {
        deletes[i].addEventListener("click", deleteUserRole);
      }
      var sudoelem = document.getElementById("sudo");
      if (sudoelem)
        sudoelem.addEventListener("click", function() {
          document.cookie = "sudo=" + this.getAttribute("uid") + "; path=/";
          window.location.replace("/");
        });
      document.getElementById("addrole").addEventListener("click", function() {
        var role = document.getElementById("newrole").value;
        var classroomelem = document.getElementById("newclassroom");
        var classroomname = classroomelem.selectedOptions[0].text;
        var classroom = classroomelem.value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", document.location + "/roles", true);
        xhr.onload = function() {
          var rid = xhr.response;
          var t = document.createTextNode(role + " on " + (classroomname || "all classrooms"));
          var b = document.createElement("button");
          b.classList.add("delete-user-role");
          b.setAttribute("user-role-id", rid);
          b.addEventListener("click", deleteUserRole);
          b.innerText = "-";
          var li = document.createElement("li");
          li.appendChild(t);
          li.appendChild(b);
          var ul = document.getElementById("rolelist");
          ul.appendChild(li);
        };
        var formdata = new FormData();
        formdata.append("role", role);
        formdata.append("classroom", classroom);
        xhr.send(formdata);
      })
    }
  </script>
  <div id="logo" style="display:inline-block; font-size:larger; font-style: italic; font-color: #330000;"><a href="/">idecl</a></div>
  <a href="/users">Back to users</a>
  <div id="loggedinas">{{ current_user.email }}
    {% if current_user.id != current_user.euid %}
    viewing as {{ current_user.eemail }}
    <button id="view-as-self">X</button>
    {% endif %}
  </div>

  <h3>{{ user.email }} ({{ user.name }})</h4>
  {% if user.deactivated == "1" %}
  <i style="font-size: larger">DEACTIVATED</i><br>
  {% endif %}
  {% if can_sudo %}
  <button id="sudo" uid="{{ user.id }}">View as user</button>
  {% endif  %}
  <h4>Roles</h4>
  {% if roles == [] %}
  <i>None</i>
  {% endif %}
  <ul id="rolelist">
  {% for r in roles %}
  <li>{{ r.role }} on {{ r.classroom or "all classrooms" }}<button class="delete-user-role" user-role-id="{{ r.id }}">-</button></li>
  {% endfor %}
  </ul>
  <h4  style="margin-bottom: 4px">Add role:</h4>
  <select id="newrole"><option value="student">Student</option><option value="teacher">Teacher</option></select> on <select id="newclassroom"><option value="">all classrooms</option>
    {% for classroom in classrooms %}
    <option value="{{ classroom.id }}">{{ classroom.name }}</option>
    {% endfor %}
  </select><br>
  <button id="addrole" style="margin-top: 4px">Add role</button><br>
</html>

